<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlaylistSyncGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PlaylistConverterGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <PlaylistSyncGUI.Properties.Settings>
            <setting name="TargetMusicFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetPlaylistFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SourcePlalyistFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ConversionsAsJson" serializeAs="String">
                <value />
            </setting>
            <setting name="nonAudioDataTypes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>jpg</string>
                        <string>png</string>
                        <string>m3u</string>
                        <string>wpl</string>
                        <string>pls</string>
                        <string>ini</string>
                        <string>ffs_db</string>
                        <string>db</string>
                        <string>pdf</string>
                        <string>reapeaks</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="kid3_FilePath" serializeAs="String">
                <value>C:\Portable Programs\kid3-3.7.0-win32\kid3.exe</value>
            </setting>
            <setting name="notepadPlusPlus_FilePath" serializeAs="String">
                <value>C:\Program Files (x86)\Notepad++\notepad++.exe</value>
            </setting>
        </PlaylistSyncGUI.Properties.Settings>
        <PlaylistConverterGUI.Properties.Settings>
            <setting name="TargetMusicFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetPlaylistFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SourcePlalyistFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ConversionsAsJson" serializeAs="String">
                <value />
            </setting>
            <setting name="nonAudioDataTypes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>jpg</string>
                        <string>png</string>
                        <string>m3u</string>
                        <string>wpl</string>
                        <string>pls</string>
                        <string>ini</string>
                        <string>ffs_db</string>
                        <string>db</string>
                        <string>pdf</string>
                        <string>reapeaks</string>
                    </ArrayOfString>
                </value>
            </setting>
        </PlaylistConverterGUI.Properties.Settings>
    </userSettings>
</configuration>